*{
    margin: 0;
    box-sizing: border-box;
}
td{
    height: 100px;
    width: 100px;
    text-align: center;
}
td.negro{
    background-color: black;
}
td.blanco{
    background-color: white;
}
table{
    text-align: center;
}
h2.negro{
    color:black;
    text-shadow: 2px 2px white;
}
h2.blanco{
    color:white;
    text-shadow: 10px 10px black;
}