*{
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
}
td.negro{
    background-color: black;
    color: white;
}
td.blanco{
    background-color: white;
    border: 1px solid black;
}
td{
    height: 15px;
    width: 100px;
}
table{
    text-align: center;
}
h6 {
    font-size: 20px;
}
h6.negro{
    color:black;
    border: 1px solid white;
}
h6.blanco{
    color:white;
    border: 1px solid black;
}